# **Práctica 1**

**Unidad 1. Preliminares**\
Sintaxis y semántica de un lenguaje de programación.

**Unidad 2. Representación de Datos. Operadores y expresiones.**\
Tipos de datos, rango de valores y límites. Declaraciones de variables, nomenclatura. Números, enteros, flotantes y complejos. Expresiones algorítmicas. Operadores de asignación, aritméticos, relacionales, lógicos. Precedencia.

##Ejercicio 1
Pruebe las siguientes expresiones en Python. Observe qué resultados obtiene.

``` python
a. 0
```

In [1]:
0

0

``` python
b. 1.5 * 0
```

In [2]:
1.5*0

0.0

``` python
c.11 / 2
```

In [3]:
11/2

5.5

``` python
d. 11 // 2
```

In [4]:
11 // 2

5

``` python
e. 11.0 // 2.0
```

In [9]:
11.0 // 2.0

5.0

``` python
f. 2 ** 2
```

In [10]:
2 ** 2

4

``` python
g. "a" + "b"
```

In [15]:
"a" + "b"

'ab'

``` python
h. "a" * 0
```

In [16]:
"a"*0

''

##Ejercicio 2
Introduzca las siguientes expresiones. Trate de predecir su resultado y verifique.

``` python
a. 1 / 0
```

In [17]:
#1/0 va a dar error

``` python
b. 10 / 2 // 1 ** 5
```

In [22]:
10/2 // 1 ** 5 #1ero potencia, dsp division entera //, despues division /

5.0

``` python
c. "hola" + ’ ’ + "mundo" + ’!’
```

In [23]:
"hola"+" "+"mundo"+"!"

'hola mundo!'

``` python
d.  "hola" + (’ ’ + "mundo") * 0
```

In [24]:
"hola"+(" "+"mundo")*0

'hola'

##Ejercicio 3
En Python podemos usar el operador ```==``` para preguntarnos si dos cosas son iguales o no. Si ```a == b``` nos devuelve ```True```, entonces ```a``` y ```b``` se consideran iguales. En otro caso nos devolverá ```False```. Verificar
qué pares de las siguientes expresiones son iguales:

``` python
a. 3
```

In [25]:
3

3

``` python
b. 3.0
```

In [26]:
3.0

3.0

``` python
c. (0.1 + 0.2) * 10
```

In [27]:
(0.1+0.2)*10

3.0000000000000004

``` python
d.  22 / 7
```

In [28]:
22/7

3.142857142857143

``` python
e.  22 // 7
```

In [ ]:
e=22//7

3

In [37]:
a=3
b=3.0
c=(0.1+0.2)*10
d=22/7
e=22//7
print(f"a es {a}, b es {b}, c es {c}, d es {d}, e es {e}")
print(f"a es igual a b? {a==b}")
print(f"a es igual a c? {a==c}")
print(f"a es igual a d? {a==d}")
print(f"a es igual a e? {a==e}")

a es 3, b es 3.0, c es 3.0000000000000004, d es 3.142857142857143, e es 3
a es igual a b? True
a es igual a c? False
a es igual a d? False
a es igual a e? True

##Ejercicio 4
¿Cuáles son las diferencias y similitudes entre las siguientes expresiones?

``` python
a.  1) 10 + 5
    2) 10 + 5.0
    3) 10 + 5.
```

In [39]:
a=10+5
b=10+5.0
c=10+5.

print(f"a es {a}, b es {b}, c es {c}")
print(f"a es igual a b? {a==b}")
print(f"a es igual a c? {a==c}")
print(f"b es igual a c? {c==b}")

a es 15, b es 15.0, c es 15.0
a es igual a b? True
a es igual a c? True
b es igual a c? True

``` python
b.  1) 11 / 2
    2) 11 // 2
    3) 11.0 // 2
```

In [40]:
a=11/2
b=11//2
c=11.0//2

print(f"a es {a}, b es {b}, c es {c}")
print(f"a es igual a b? {a==b}")
print(f"a es igual a c? {a==c}")
print(f"b es igual a c? {c==b}")

a es 5.5, b es 5, c es 5.0
a es igual a b? False
a es igual a c? False
b es igual a c? True

##Ejercicio 5
En Python los operadores de suma y de resta, ```+``` y ```-```, pueden ser utilizados con un único argumento (u
operando). Ejecutar cada una de las siguientes expresiones e interpretar los resultados.

``` python
a. +1
```

In [41]:
+1

1

``` python
b. -1
```

In [42]:
-1

-1

``` python
c. +-1
```

In [43]:
+-1

-1

``` python
d.  -1
```

In [44]:
-1

-1

##Ejercicio 6
Poner paréntesis en las siguientes expresiones de acuerdo a las reglas de precedencia y asociatividad
de los operadores. Si no conoce la precedencia de algún operador, se aconseja probarla primero en
el intérprete. Una vez hecho esto, determinar el tipo de cada subexpresión entre paréntesis hasta
determinar el tipo de la expresión completa.

``` python
a. 3 * 5 - 7 * 4 / 14 + 3 / 1
```

In [46]:
a=(3*5)-(7*4/14)+(3/1)
b=3*5-7*4/14+3/1
print(f"a es {a} y b es {b}")

a es 16.0 y b es 16.0

``` python
b. 2 ** 1 + 3 / 5 // 4
```

In [52]:
a=(2**1)+((3/5)//4)
b=2**1+3/5//4
print(f"a es {a} y b es {b}")

a es 2.0 y b es 2.0

``` python
c. 8 / 4 / 2 ** 2 ** 2
```

In [53]:
a=(8/4)/(2**2**2)
b=8/4/2**2**2
print(f"a es {a} y b es {b}")

a es 0.125 y b es 0.125

##Ejercicio 7
Encontrar el resultado que devuelven las siguientes expresiones.

``` python
(4 >= 40 and 8 <= 10) or (2 < 20 or 10 > 100)
```

In [55]:
(4>=40 and 8<=10) or (2<20 or 10>100) #(FyT) v (TvF) = F v T= T

True

``` python
4<=10 or (2/0)==1
```

In [56]:
4<=10 or (2/0)==1 #T o F = True

True

``` python
(8 >= 10 or 4 <= 8) and (3 != 10 or 10 >= 4)
```

In [57]:
(8>=10 or 4<=8) and (3!=10 or 10>=4) #(FoT)y(ToT)=TyT=True

True

``` python
(50 > 49 and 7 == 5) or (15 <= 14 or 10 > 100)
```

In [58]:
(50 > 49 and 7 == 5) or (15 <= 14 or 10 > 100) #(TyF)o(FoF)=FoF=False

False

``` python
not(not(10 >= 8) and 1 > 3) or (2 != 3 and 2 < 8)
```

In [59]:
not(not(10 >= 8) and 1 > 3) or (2 != 3 and 2 < 8) #(not(not(T) y F) o (T y T)= (not(F) y F) o (T)= (T y F) o T= F o T =True

True

``` python
(4 > 2 or 7 > 6) and not(3 < 6 or 2 > 0)
```

In [60]:
(4 > 2 or 7 > 6) and not(3 < 6 or 2 > 0) #(ToT) y not(ToT)=TyF=False

False

``` python
not(0)
```

In [61]:
not(0) #es not False da True

True

``` python
not(1)
```

In [62]:
not(1) #es not True da False

False

``` python
not(8)
```

In [ ]:
not(8) #Not cualquier cosa distinta de cero da False. Es Not True

False

``` python
not('a')
```

In [ ]:
not('a') #Not cualquier cosa distinta de cero da False. Es Not True

False

``` python
not([])
```

In [66]:
not([]) #not vacio da True porque es como 0?

True

``` python
not('') or not(' ')
```

In [70]:
not('') or not(' ') #El primero es notF y el segundo tiene un espacio es notT

True

##Ejercicio 8
Considerar los siguientes fragmentos de código, y verificar si son correctos o no. En caso de no serlo, proponer un cambio para arreglarlo.

``` python
a.    print ( saludo + " " + destino + puntuacion )
      saludo = " Hola "
      destino = " Mundo "
      puntuacion = " ! "
```

In [71]:
saludo = " Hola "
destino = " Mundo "
puntuacion = " ! "
print ( saludo + " " + destino + puntuacion )

 Hola   Mundo  !

``` python
b.  cateto1 = 3
    cateto2 = 4
    hipotenusa = (( cateto1 ** 2) + ( cateto2 ** 2)) ** 0.5
    del cateto1
    del cateto2
    print ( hipotenusa )
```

In [72]:
cateto1=3
cateto2=4
hipotenusa=((cateto1**2)+(cateto2**2))**0.5
print(hipotenusa)
del cateto1 
del cateto2

5.0

``` python
c.  del tengo_hambre
    tengo_hambre = False
    del tengo_hambre
    tengo_hambre = True
```

In [73]:
tengo_hambre=False
del tengo_hambre
tengo_hambre=True

#Ejercicio 9
A partir de la siguiente página web:

``` python
sitio_web = "https://fceia.unr.edu.ar/noticias-fceia"
```

Obtener las partes útiles de una url usando slicing:

![image.png]()

In [75]:
sitio_web = "https://fceia.unr.edu.ar/noticias-fceia"
protocolo = sitio_web[0:8]
print(protocolo)
dominio = sitio_web[8:25]
print(dominio)
ruta = sitio_web[25:len(sitio_web)]
print(ruta)

https://
fceia.unr.edu.ar/
noticias-fceia

siempre utilizamos [inicio:fin+1]

In [76]:
sitio_web = "https://fceia.unr.edu.ar/noticias-fceia"
ruta = sitio_web[25:]
print(ruta)

noticias-fceia

por defecto si no pongo posicion final va a ser len(cadena)

In [77]:
sitio_web = "https://fceia.unr.edu.ar/noticias-fceia"
protocolo = sitio_web[:8]
print(protocolo)

https://

por defecto si no pongo posicion inicial va a ser 0

#Ejercicio 10
Sea la cadena de caracteres numéricos:

``` python
numeros = "0123456789"
```

Obtener los números pares y el cero usando slicing.

In [80]:
numeros = "0123456789"
pares1=numeros[0]+numeros[2]+numeros[4]+numeros[6]+numeros[8]
pares=numeros[::2]
print(pares)

02468

## Ejercicio 11
Traducir las siguientes expresiones del lenguaje natural a expresiones booleanas en equivalentes en
Python. Determinar su veracidad o falsedad corriendo la expresión en el intérprete.

>>
a. La longitud de la cadena "Hola, mundo" es 14.

In [83]:
a="Hola, mundo"
print(f"la longitud es {len(a)}")
len(a)==14

la longitud es 11

False

>>
b. El área de un cuadrado de lado 5 es igual a la raíz cuadrada de 625.

In [84]:
area=5**2
b=625**0.5
area==b

True

>>
c. El diámetro de un círculo de radio 3,25 es menor que 7 y mayor a 6.

In [86]:
diametro=6<3.25<7
print(diametro)

False

>>
d. La aproximación de Pi = 22 / 7 es un número mayor que 3, y 2 + 2 es igual a 5.

In [89]:
22/7 > 3 and  2+2 == 5

False

>>
e. El numero 10 es mayor a 5 o 0 dividido 0 es igual 0.

In [88]:
10>5 or 0/0==0 #da True porque solo mira la primera parte, no llega al error de la segunda

True

>>
f. La cadena "Python" tiene longitud 5 y 1+"1" es igual a 2.

In [92]:
cad='Python'
len(cad)==5 and 1+'1'==2 #el primero da false y no mira el error del segundo que suma int con str

False

##Ejercicio 12

Proponga un algoritmo (en lenguaje natural) para resolver cada uno de los siguientes problemas.

> a.   Dada la base y altura de un rectángulo, informar el área y su perı́metro.

In [93]:
base=float(input('Ingrese base del rectangulo'))
altura=float(input('Ingrese altura del rectangulo'))
area=base*altura
perimetro=base*2+altura*2
print(f'el area del rectangulo es {area}, y su perimetro es {perimetro}')

el area del rectangulo es 50.0, y su perimetro es 30.0



> b.   Calcular la nota final de un alumno que se obtiene de promediar las 3 notas de sus parciales.

In [95]:
n1=int(input('Ingrese nota 1'))
n2=int(input('Ingrese nota 2'))
n3=int(input('Ingrese nota 3'))
suma=n1+n2+n3
sum=[n1,n2,n3]
promedio=suma/len(sum)
print(f'El promedio de las 3 notas es {promedio}')

El promedio de las 3 notas es 8.666666666666666

> c. Calcular la distancia de dos puntos en el plano.

In [96]:
import math
# Entrada
x1 = int(input('Ingrese x1: '))
y1 = input('Ingrese y1: ')
y1 = int(y1)
x2 = int(input('Ingrese x2: '))
y2 = int(input('Ingrese y2: '))

# Procesamiento
distancia = ((x2-x1)**2+(y2-y1)**2)**(1/2) #la raiz de (a**2+b**2)
dis = math.sqrt(math.pow(x2-x1, 2) + math.pow(y2-y1, 2))

# Salida
print(f'distancia: {distancia}')

distancia: 5.830951894845301

Ahora, con ayuda de su docente, empezaremos a ver cómo escribir estos algoritmos como programas
en Python.

##Ejercicio 13
Escribir un algoritmo en el cual se pida al usuario que responda a la pregunta: "¿Cómo está el dı́a de hoy? (soleado, nublado, lloviendo)". A continuación, mostrar por pantalla un mensaje que indique “El dı́a de hoy está . . . ”, completando el mensaje con el dato que ingresó el usuario.

##Ejercicio 14
Conocido el número en matemática PI, pedir al usuario que ingrese el valor del radio de una circunferencia y calcular y mostrar por pantalla el área y perı́metro. Recuerde que para calcular el área y el perı́metro se utilizan las siguientes fórmulas:

>>Area = π *radio2

>>Perimetro = 2 * π * radio

In [97]:
pi = 22/7
radio = float(input('Ingrese el radio de la circunferencia: '))
area = pi*radio**2
perimetro = round(2*pi*radio, 2)

print(f'radio: {radio}\narea: {area}\tperimetro: {perimetro}')

radio: 3.0
area: 28.285714285714285	perimetro: 18.86

##Ejercicio 15
Escribir un programa que calcule el precio promedio de un producto. El precio promedio se debe
calcular a partir del precio del mismo producto en tres establecimientos distintos.

##Ejercicio 16
A partir de una conocida cantidad de metros que el usuario ingresa a través del teclado se debe obtener
su equivalente en centı́metros, en milı́metros y en pulgadas.

Ayuda: 1 pulgada equivale a 2.54 centı́metros

In [ ]:
metros=float(input('Ingrese la cantidad de metros'))
cm=metros*100
mm=metros*1000
pulg=cm*2.54
print(f'{metros} metros equivalen a {cm} centimetros, {mm} milimetros y {pulg} pulgadas')

1546523.0m equivalen a 154652300.0 centimetros, 1546523000.0 milimetros y 392816842.0 pulgadas

##Ejercicio 17
Convertir a segundos una hora que viene expresada en horas, minutos y segundos. Ingresar los datos y visualizar por pantalla los segundos totales obtenidos.

In [100]:
hora=int(input('Ingrese la hora'))
min=int(input('Ingrese los minutos'))
seg=int(input('Ingrese los segundos'))
segTotal=hora*3600+min*60+seg
print(f'{hora}:{min}:{seg} equivalen a {segTotal} segundos')

13:25:52 equivalen a 48352 segundos

##Ejercicio 18
Convertir a horas, minutos y segundos una hora que viene expresada en segundos. Ingresar los segundos por teclado y mostrar por pantalla los valores obtenidos con el formato hh:mm:ss.

In [107]:
segTotal=int(input('Ingrese los segundos'))
hora=segTotal//3600
resto=segTotal%3600 #devuelve el resto de la division
min=resto//60
seg=resto%60 #Calcula los segundos que sobran después de extraer los minutos completos
print(f'los {segTotal} segundos equivalen a {hora:02d}:{min:02d}:{seg:02d}') #:02d significa: mostrar el número con 2 dígitos, rellenando con cero a la izquierda si es necesario

los 48352 segundos equivalen a 13:25:52

##Ejercicio 19
Escribir un programa que calcule cuántos litros de combustible consumió un automóvil. El usuario debe
ingresar una cantidad de litros de combustible cargados en la estación y una cantidad de kilómetros
recorridos. Después, el programa calculará el consumo (km/lt) y se lo mostrará al usuario.

In [110]:
lts=float(input('Ingrese la cantidad de litros'))
km=float(input('Ingrese la cantidad de km recorridos'))
consumo=km/lts
print(f'El consumo del auto al recorrer {km} kms es de {consumo:.2f} km/lts') #:.2f indica que quieres 2 decimales después del punto

El consumo del auto al recorrer 1642.0 kms es de 68.42 km/lts

##Ejercicio 20
Escriba un programa que permita al usuario ingresar el valor de dos variables numéricas de tipo entero.
Posteriormente, el programa debe intercambiar los valores de ambas variables y mostrar el resultado
final por pantalla. Por ejemplo, si el usuario ingresa los valores num1 = 9 y num2 = 3, la salida del programa deberá mostrar: num1 = 3 y num2 = 9.

Ayuda: Para intercambiar los valores de dos variables se debe utilizar una variable auxiliar.

In [ ]:
num1 = 9
num2 = 3
print(f'Inicialmente:\t num1 = {num1}, \t num2 = {num2}')

aux = num2
num2 = num1
num1 = aux
del aux
print(f'Finalmente:\t num1 = {num1}, \t num2 = {num2}')

Inicialmente:	 num1 = 9, 	 num2 = 3
Finalmente:	 num1 = 3, 	 num2 = 9

##Ejercicio 21
Escriba un programa que permita al usuario ingresar el valor de tres variables numéricas de tipo entero.
Posteriormente, el programa debe intercambiar los valores de las tres variables y mostrar el resultado
final por pantalla.
Por ejemplo, si el usuario ingresa los valores num1 = 9, num2 = 3 y num3 = 5 la salida del programa
deberá mostrar: num1 = 5, num2 = 9 y num3 = 3.

Ayuda: Para intercambiar los valores de tres variables se debe utilizar una variable auxiliar.

In [ ]:
num1 = 9
num2 = 3
num3 = 5
print(f'Inicialmente:\t num1 = {num1}, \t num2 = {num2}, \t num3 = {num3}')

aux = num1
num1 = num2
num2 = num3
num3 = aux
del aux
print(f'Finalmente:\t num1 = {num1}, \t num2 = {num2}, \t num3 = {num3}')

Inicialmente:	 num1 = 9, 	 num2 = 3, 	 num3 = 5
Finalmente:	 num1 = 3, 	 num2 = 5, 	 num3 = 9

##Ejercicio 22
Escriba un programa que lea dos números enteros y realice el cálculo de la suma, resta, multiplicación
y división entre ambos valores. Los resultados deben mostrarse por pantalla.

In [112]:
num1, num2 = float(input('Ingrese el numero 1')), float(input('Ingrese el numero 2'))
print("22 - Suma:", num1 + num2)
print("22 - Resta:", num1 - num2)
print("22 - Multiplicación:", num1 * num2)
print("22 - División:", num1 / num2)

22 - Suma: 3.0
22 - Resta: -1.0
22 - Multiplicación: 2.0
22 - División: 0.5

##Ejercicio 23
Un colegio desea saber qué porcentaje de niños y qué porcentaje de niñas hay en el curso actual.
Diseñar un algoritmo para este propósito. Recuerde que para calcular el porcentaje puede hacer una
regla de 3 simple. El programa debe solicitar al usuario que ingrese la cantidad total de niños, y la
cantidad total de niñas que hay en el curso.

In [ ]:
nenes=int(input('Ingrese cantidad de niños en el curso'))
nenas=int(input('Ingrese cantidad de niñas en el curso'))
total=nenes+nenas
n1=(nenes/total)*100
n2=(nenas/total)*100
print(f'la cantidad de niños en el curso es {nenes} y la de niñas es {nenas}. Respectivamente son un {n1:.2f} % y {n2:.2f} %')

la cantidad de niños en el curso es 5 y la de niñas es25. Respectivamente son un 16.67 % y 83.33 %

##Ejercicio 24
A partir de una conocida cantidad de dı́as que el usuario ingresa a través del teclado, escriba un
programa para convertir los dı́as en horas, en minutos y en segundos. Por ejemplo:
1 dı́a = 24 horas = 1440 minutos = 86400 segundos.

In [116]:
d=int(input('Ingrese cantidad de dias'))
h=d*24
m=h*60
s=m*60
print(f'{d} dias equivalen a {h:02d} horas, {m:02d} minutos, {s:02d} segundos')

5 dias equivalen a 120 horas, 7200 minutos, 432000 segundos

##Ejercicio 25
Modelar los siguientes problemas, nombrando los datos relevantes y el resultado, junto con la forma
que tendrán sus representaciones internas en Python. Luego programar la solución.

>> a. Se tienen dos habitaciones dentro de un hogar, cada una con una temperatura ambiente. Se quiere
saber a qué temperatura estarán las habitaciones, dado suficiente tiempo para que se transmita
el calor de una a la otra. Se conoce que en este caso es válido promediar temperaturas.

In [119]:
h1=float(input('Ingrese temperatura de primer habitacion'))
h2=float(input('Ingrese temperatura de segunda habitacion'))
print(f'La temperatura de las habitaciones luego de mucho tiempo es de {(h1+h2)/2}')

La temperatura de las habitaciones luego de mucho tiempo es de 17.5

>>b. Se tiene una multitud afuera, cada persona le dirá su nombre a cada otra persona en la multitud. Se quiere saber cuánto tiempo llevará hacer esto, dado que decir una vez tu nombre lleva
aproximadamente 4 segundos y medio.

In [120]:
num=int(input('Ingrese la cantidad de personas'))
t=(num-1)*4.5
print(f'Decir todos los nombres de la fila lleva {t:.2f} segundos')

Decir todos los nombres de la fila lleva 72.00 segundos

>>c. Hay dos personas con nombres muy largos, pero similares. Se quiere conocer, por un lado, si tienen
el mismo tamaño, y por otro lado si son iguales.

>>Ayuda para el programa: investigar la función ```len```.

In [118]:
n1=input('Ingrese el nombre 1')
n2=input('Ingrese el nombre 2')
print(f'Las longitudes de los nombres son iguales? {len(n1)==len(n2)}')
print(f'Los nombres son iguales? {n1==n2}')

Las longitudes de los nombres son iguales? True
Los nombres son iguales? False